@charset "UTF-8";

.abilitiesContainer{
    padding: 20px;
}

.abilitiesBtn{
    padding: 15px 25px;
    font-size: 1.1rem;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 1.5px;
    font-weight: 500;
}

.abilitiesContent{
    background-color: blue;
    font-weight: bold;
    font-size: 1.2rem;
    color: red;
    padding: 20px;
}